<div class='xecmpf-file-upload-panel-info-control'>
  <span aria-label='{{filesLabel}} {{totalFiles}}' role="label" tabindex="0">{{filesLabel}} (<span id='xecmpf-file-upload-panel-info-count'>{{totalFiles}}</span>)</span>
  <div title='{{ uploadItemLabel }}' aria-label='{{ uploadItemLabel }}' tabindex='0' role='button' class='binf-btn xecmpf-file-upload-btn' id='xecmpf-file-upload-btn'>
      <span class='icon icon-toolbarAdd'></span>
  </div>
</div>
<ul class='xecmpf-file-upload-panel-list-section'></ul>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->