<div class='xecmpf-file-upload-item-icon'>
  <span class="{{iconClass}}"></span>
</div>
<div class="xecmpf-file-upload-item-info">
  <p class="xecmpf-file-upload-item-info-name" title="{{name}}">{{name}}</p>
  <p class="xecmpf-file-upload-item-info-size" title="{{sizeLabel}} {{size}}">{{sizeLabel}} {{size}}</p>
</div>
<div class="xecmpf-file-upload-item-delete">
  <span aria-label="{{deleteItemTitle}} {{name}}" role="button" tabindex="0" class="xecmpf-file-upload-item-delete-icon" title="{{deleteItemTitle}}"></span>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->