<div class="csui-version" id="{{versionId}}">
  <div class="csui-left">
    <span class="csui-version-label">{{currentVersionLabel}}</span>
    <span class="csui-version-number">{{currentVersionNumber}}</span>
  </div>
  <div class="csui-right">
    <span class="csui-version-label">{{newVersionLabel}}</span>
    <span class="csui-version-number">{{newVersionNumber}}</span>
  </div>
</div>
<div class="csui-document-name">
  <label class="csui-version-label" for="{{inputId}}">{{versionNameLabel}}</label>
  <input type="text" id="{{inputId}}" class="csui-archive-name" name="compoundDocument-name"
    value="{{versionNameNumber}}">
  <div class="title-error-div">
    <span class="title-error" role="alert"></span>
  </div>
</div>
<div class="csui-archive-name-error-container">
  <span class="csui-archive-name-error" id="{{nameErrorId}}"></span>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->