<div class="binf-list-group-item" title="{{name}}" {{#if nameTitleAria}}aria-label="{{nameTitleAria}}"{{/if}}>
{{#if enableIcon}}<span class="csui-type-icon {{icon}}"></span>{{/if}}
<div title="{{name}}" class="list-item-title">{{name}}</div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->