<div class="csui-search-metadata-label">
     <span class="csui-search-metadata binf-col-lg-4 binf-col-md-4 binf-col-sm-4
                    binf-col-xs-4" title="{{titleAttr}}">{{label}}</span>
</div>
<div class="csui-search-metadata-value" title="{{tooltipText}}">
<span class="searchDetails binf-col-lg-7 binf-col-md-7 binf-col-sm-7
                    binf-col-xs-7">{{value}}</span>
{{#if count}}
 <span class="csui-count" >+{{count}}</span>
{{/if}}
</div>


<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->