<a href="javascript:void(0)" class="csui-searchforms-popover-row"
   data-searchformid="{{ searchFormId}}" id="{{ searchFormId}}" title='{{ searchFormTooltip }}'
   aria-label='{{ searchFormName }}'>
  {{#if quickLink}}
    <span class="csui-icon-standard-search"></span>
  {{else}}
    <span class="csui-icon-query-form-search"></span>
  {{/if}}
  <span class="cs-label">{{ searchFormName }}</span>
</a>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->