<div class="cs-back-button-container" title="{{backTitle}}" aria-label="{{backTitle}}" tabindex="0" role="button">
    <span class="arrow_back cs-go-back action-element"></span>
</div>
<div class="cs-add-icon-container" title="{{addItem}}" aria-label="{{addItem}}" tabindex="0" role="button">
    <ul class="csui-toolbar binf-nav binf-nav-pills csui-align-left">
        <li class="binf-dropdown csui-wrapper csui-more-dropdown-wrapper">
            <a href="#" class="binf-dropdown-toggle csui-acc-focusable" data-binf-toggle="dropdown"
                aria-expanded="false" aria-haspopup="true" title="{{addItem}}" aria-label="{{addItem}}">
                <span class="icon icon-toolbarAdd"></span>
            </a>
            <ul class="binf-dropdown-menu csui-more-dropdown-menu" role="menu">
                <li data-csui-command="{{this.title}}" role="menuitem" class="xecmpf-fileupload-upload-btn"><a href="#"
                        class="csui-toolitem" data-cstabindex="-1" title="{{addDocumentLabel}}"
                        tabindex="-1">{{addDocumentLabel}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="cs-filter-icon-container" title="{{filterTitle}}" aria-label="{{filterTitle}}" tabindex="0" role="button">
    <span
        class="tile-type-action-icon cs-icon-left icon-toolbarFilter tile-filter-icon csui-acc-focusable-active action-element fileupload-filter-icon"></span>
</div>
<div class="cs-title-container">
    <div class="cs-title-inner-container">
        <span class="title-icon {{icon}}"></span>
        <h2 class="title">{{title}}</h2>
    </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->