<div class="about-box" id="{{infoTextId}}">
    {{!-- TODO: tabs will be added in future release. Let the commented code stay here --}}
    {{!-- <div class="tab">
        <button data-tab-id="about" class="tablinks selected">About</button>
        <button data-tab-id="systemInfo" class="tablinks">System information</button>
        <button data-tab-id="contactInfo" class="tablinks">Contact information</button>
    </div> --}}
    <div id="about" class="tabcontent">
        <span>{{copyrights}}</span>
        <span>{{patents}} <br> {{moreInfo}}<a href="{{moreInfoLink}}" role="link" title="{{moreInfoLink}}"
                aria-label="">{{moreInfoLink}}</a></span>
        <h6 class="csui-small-header">{{disclaimer}}</h6>
        <span>{{disclaimerText}}</span>
        <div class="csui-warningtext"><h6 class="csui-small-header">{{warning}} : </h6><span>{{warningText}}</span>
        </div>
    </div>
    {{!-- TODO: tabs will be added in future release. Let the commented code stay here --}}
    {{!-- <div id="systemInfo" class="tabcontent binf-hidden">
        <p>Lorem ipsum is a dummy text used to replace text in some areas just for the purpose of an example. It can be used in publishing and graphic design. It is used to demonstrate the graphics elements of a document, such as font, typography, and layout.</p>
    </div>

    <div id="contactInfo" class="tabcontent binf-hidden">
        <p>Lorem ipsum is a dummy text used to replace text in some areas just for the purpose of an example. It can be used in publishing and graphic design. It is used to demonstrate the graphics elements of a document, such as font, typography, and layout.</p>

    </div> --}}
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->