<div class="column-item-container" title="{{name}}">
  <span class="icon icon-listview-checkmark"></span>
  {{#if hasAttribute}}
  <span class="column-label">
    <span class="csui-column-label-category">{{categoryName}}</span>
    <span class="csui-column-label-attribute">{{attributeName}}</span>
  </span>
  {{else}}
  <span class="column-label">{{name}}</span>
  {{/if}}
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->