<button class="csui-control csui-disclosure" aria-expanded="{{ariaExpanded}}"
        aria-label="{{ariaLabel}}" {{disabled}} title="{{title}}">
  {{#if ariaExpanded}}
    {{{icon-v2 iconName='csui_caret_up' size='xsmall'}}}
  {{else}}
    {{{icon-v2 iconName='csui_caret_down' size='xsmall'}}}
  {{/if}}
</button>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->