<div class="csui-sidepanel-title csui-normal-scrolling">
    <h1 class="csui-sidepanel-heading" aria-label="{{title}}" role="alert">{{title}}</h1>
    <h2 class="csui-sidepanel-subheading">{{subTitle}}</h2>
</div>
<div class="csui-sidepanel-close smart-v2-icon-parent" title="{{closeTooltip}}" aria-label="{{closeAria}}" tabindex="-1" role="button">
    {{{icon-v2 iconName='csui_action_close32' states="true" }}}
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->