<a href="#" role="button" class="csui-facet-item-content{{#unless enableCloseIcon}} csui-facet-item-content-readonly {{/unless}}" aria-label="{{facetItemAria}}">
  <div>
    <span class="csui-label{{#unless enableCloseIcon}} csui-label-readonly {{/unless}}">
      <span class="csui-facet-item-facet-name">{{facetName}}:</span>
      <span class="csui-facet-item-topic-name">{{topicName}}</span>
    </span>
    {{#if enableCloseIcon}}
      <span class="csui-icon binf-close" data-csui-facet="{{facetId}}"
            data-csui-topic="{{topicId}}"></span>
    {{/if}}
  </div>
</a>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->