{{#if showInlineActionBar}}<a class="csui-tileview-contains-more-btn" tabindex="-1"> {{/if}}
{{#if enableIcon}}<div class="csui-type-icon {{icon}}"></div>{{/if}}
<div title="{{name}}" class="list-item-title" role="link" aria-label="{{itemLabel}}">{{name}}</div>
{{#if end-icon}}<div class="{{end-icon-class}}"></div>{{/if}}
{{#if showInlineActionBar}}<div class="csui-tileview-more-btn"></div>{{/if}}
{{#if showInlineActionBar}}</a>{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->