<div class="binf-list-group-item">
  <span class="csui-type-icon {{icon}}"></span>
  <div role="link" title="{{#if tooltip}}{{tooltip}}{{else}}{{name}}{{/if}}"
        class="list-item-title" aria-label="{{itemLabel}}">{{name}}</div>
  {{#if showInlineActionBar}}<div class="csui-tileview-more-btn"></div>{{/if}}
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->