{{#if isSeparator}}
{{else}}
  {{#if hasIcon }}
    {{#if renderIconAndText}}
      <a title="{{title}}" href="#"
                         {{#if linkRole}} role="{{linkRole}}" {{/if}}
                         class="csui-toolitem {{disabledClass}} csui-toolitem-icon-text" data-cstabindex="-1">
        {{#if iconName}}
          {{{icon-v2 iconName=iconName theme=iconTheme states='true' on=iconStateIsOn}}}{{name}}
        {{else}}
          <span class="{{icon}}"></span>{{name}}
        {{/if}}
      </a>
    {{else}}
      {{#if renderTextOnly}}
        <a  href="#"
                          {{#if linkRole}} role="{{linkRole}}" {{/if}}
                          class="csui-toolitem {{disabledClass}} csui-toolitem-textonly"
                          data-cstabindex="-1">{{name}}
          {{#if menuWithMoreOptions}}
            <span class="csui-button-icon csui-icon-rightArrow icon-expandArrowUp"></span>
          {{/if}}
        </a>
      {{else}}
        <a href="#" title="{{title}}"
                    {{#if linkRole}} role="{{linkRole}}" {{/if}}
                    class="csui-toolitem {{disabledClass}} csui-toolitem-icononly"
                    data-cstabindex="-1" {{#if
            toolItemAria}}aria-label="{{toolItemAria}}" {{else}}
                           aria-label="{{title}}" {{/if}}
          {{#if hasToolItemAriaExpand}}aria-expanded="{{toolItemAriaExpand}}" {{/if}}>
          {{#if iconName}}
            {{{icon-v2 iconName=iconName theme=iconTheme states='true' on=iconStateIsOn}}}
          {{else}}
            <span class="{{icon}}"></span>
          {{/if}}
        </a>
      {{/if}}
    {{/if}}
  {{else}}
    <a href="#"
                    {{#if linkRole}} role="{{linkRole}}" {{/if}}
                    class="csui-toolitem {{disabledClass}} csui-toolitem-textonly"
                    data-cstabindex="-1">{{name}}
      {{#if menuWithMoreOptions}}
        <span class="csui-button-icon csui-icon-rightArrow icon-expandArrowUp"></span>
      {{/if}}
    </a>
  {{/if}}
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->