<div class="xecmpf-fileupload-doc-info-icon csui-type-icon {{icon}}"></div>
<div title="{{label}} {{count}}" class="xecmpf-fileupload-doc-info-text list-item-title" role="link" key="{{key}}" aria-label="{{label}} {{count}}">{{label}}<span class="xecmpf-item-count">&nbsp;({{count}})</span></div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->