<label class="csui-search-popover-row-body" data-sliceid="{{sliceId}}">
    <input type="radio" class="csui-slice-option" data-sliceid="{{sliceId}}" name="slice" value="{{ sliceDisplayName }}">
        <span class="csui-search-popover-checked" data-sliceid="{{sliceId}}"></span>
        <span class="csui-search-popover-label" data-sliceid="{{sliceId}}">{{ sliceDisplayName }}</span>
</label>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->