<div class="conws-regen-ref-dialog-header-content">
  <span class="icon icon-notification-information"></span>
  <span class="title-text conws-regen-ref-header-title" title="{{title}}" aria-label="{{title}}">{{title}}</span>
</div>

<div class="conws-regen-ref-dialog-content">
  <span class="conws-regen-ref-dialog-message" title="{{regenRefDlgMsg}}" aria-label="{{regenRefDlgMsg}}" >
    {{regenRefDlgMsg}}
  </span>
</div>

<div class="conws-regen-ref-dialog-boolean-container">
  <div class="conws-regen-ref-dialog-boolean">
    <div class="conws-regen-ref-dialog-boolean-label" id="regenRefLabel" title="{{regenRefDlgInutLabel}}" aria-label="{{regenRefDlgInutLabel}}">
      {{regenRefDlgInutLabel}}
    </div>
    <div class="conws-regen-ref-dialog-boolean-input"></div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->