<button class="csui-signin-close csui-with-iframe" title="{{dialogCloseButtonTooltip}}"
    aria-label="{{dialogCloseAria}}">    
    {{#if iconName}}
        {{{icon-v2 iconName=iconName states='true' on=on}}}        
    {{else}}
        <div class="icon circular {{iconRight}}"></div>
    {{/if}}
</button>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->