<div class="workflow-item" role="listitem" > 
    <div class="workflow-title">
        <a href="javascript:void(0)" class="csui-title-link" title="{{title}}" aria-label="{{title}}">
            <span class="cs-label">{{ title }}</span>
        </a>
    </div>
    <div class="workflow-initiator">
        <span class="csui-label" >{{from}}</span>
        <span class="csui-value" title="{{iitiator}}" aria-label="{{initiator}}">{{initiator}}</span>
    </div>
    <div class="workflow-intiated-date">
        <span class="csui-label">{{created}}</span>
        <span class="csui-value" title="{{initiatedDate}}" aria-label="{{intiatedDate}}">{{initiatedDate}}</span>
    </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->