<div class="workitem-no-attachments-view-header">
  <div class="workitem-no-attachments-view-header-wrapper">
    <div class="cs-tab-links binf-dropdown tile-nav">
      <span class="dropdown-label"></span>
      <button id="" type="button" class="binf-btn binf-btn-default binf-dropdown-toggle csui-acc-focusable-active" data-binf-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="workflow-label cs-label">{{propertylabel}}</span>
        <span class="cs-icon icon-caret-down"></span>
      </button>
    <ul class="binf-dropdown-menu" role="menu" aria-labelledby="">
      <li id="workflow-tab" data-workflow-tab="properties" role="none" class="binf-active">
        <a role="menuitem" href="#" data-binf-toggle="tab" tabindex="-1" class="dropdown-link">
        <span class="cs-label">{{propertylabel}}</span>
        </a>
      </li>
      <li id="workflow-properties-tab" data-workflow-tab="wfproperties" role="none" >
        <a role="menuitem" href="#" data-binf-toggle="tab" tabindex="-1" class="dropdown-link">
        <span class="cs-label">{{wfpropertylabel}}</span>
        </a>
      </li>
    </ul>
    </div>
  </div>
</div>
<div class="workitem-no-attachments-view-body">
  <div class = "properties show-content">
    <div class="workitem-no-attachments-view-content workitem-no-attachments-view-icon">
      <p class="workitem-no-attachments-result-message" title="{{message}}">{{message}}</p>
    </div>
  </div>
  <div class="workflow-attributes hide-content">...</div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->